:host >>> pre {
  padding: 5px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono, DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  margin-bottom: 10px;
  background-color: #EEE;
  overflow: auto;
  width: auto;
  max-height: 600px;
}

:host >>> .layout-content {
  min-width: 100vw;
  min-height: 100vh;
}
